.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F2F5;
    height: 100%;
    flex-wrap: wrap;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    position: static;
    width: 150px;
}

.boton {
    width: 100px;
    background-color: #05A9CB;
    border: none;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    opacity: 1;
    transition: 0.3s;
}

.boton:hover {opacity: 0.6; color: white;}