<div class="wraper">
    <div class="container">
        <div class="navbar container-fluid">
            <img class="logo" routerLink="/dashboard" src="../../../../../assets/img/back.png" alt="back">
            <a class="navbar-brand">Clientes</a>
            <form class="d-flex" role="search">
                <button class="btn btn-outline-success" type="submit"
                    routerLink="/dashboard/cliente/crear">Crear</button>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cédula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let cliente of listaClientes">
                        <th>{{cliente.id}}</th>
                        <td>{{cliente.nombre}}</td>
                        <td>{{cliente.apellido}}</td>
                        <td>{{cliente.telefono}}</td>
                        <td>{{cliente.correo}}</td>
                        <td class="botones">
                            <!-- Boton EDITAR -->
                            <button type="button" class="btn btn-primary btn-sm"
                                routerLink="/dashboard/cliente/editar/{{cliente.id}}">Editar</button>

                            <!-- Boton DETALLES -->
                            <button type="button" class="btn btn-primary ms-2 btn-sm ">Detalles</button>
                            
                            <!-- Boton BORRAR -->
                            <button type="button" class="btn btn-outline-danger btn-sm ms-2"
                                (click)="borrarCliente(cliente)">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>