<div class="wraper">
    <div class="container">   
            <div class="navbar container-fluid">
                <a class="navbar-brand">Clientes</a>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" routerLink="/dashboard/cliente/crear">Crear</button>
                </form>
            </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Cédula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th class="telefono" scope="col">Telefono</th>
                    <th class="correo" scope="col">Correo</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr *ngFor="let cliente of listaClientes">
                    <th>{{cliente.id}}</th>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td class="telefono">{{cliente.telefono}}</td>
                    <td class="correo">{{cliente.correo}}</td>
                    <td class="botones">
                        <button type="button" class="btn btn-primary btn-sm">Editar</button>
                        <button type="button" class="btn btn-primary ms-2 btn-sm ">Detalles</button>
                        <button type="button" class="btn btn-outline-danger btn-sm ms-2">Borrar</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


