*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F2F5;
    flex-wrap: wrap;
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 5px;
}

.botones{
    display: flex;

}

@media screen and (max-width:414px){
    .wrapper{
        min-height: 914px;
    }
}