<header>
    <!-- Logo TUCODI -->
    <img class="logo" src="../../../../assets/img/tucodi.png" width="120" height="45">

    <!-- Boton responsive del menu -->
    <button class="abrir-menu" id="abrir-menu" (click)="abrirMenu()">
        <img src="../../../../assets/img/menu.png" width="30" height="30">
    </button>

    <nav class="nav" id="nav">
        <!-- Boton responsive para cerrar el menu -->
        <button class="cerrar-menu" id="cerrar-menu" (click)="cerrarMenu()">
            <img src="../../../../assets/img/close.png" width="30" height="30">
        </button>
        
        <!-- Elementos del menu -->
        <ul class="nav-list">
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Agenda</a></li>
            <li><a href="#">Cerrar sesión</a></li>
        </ul>
    </nav>
</header>


