<div class="wrapper">
    <div class="menu">
        <!-- Contenido del menú -->

        <!-- LOGO -->
        <img class="logo" src="../../../assets/img/tucodi.png" alt=""> 
        
        <!-- BIENVENIDA Y LOGO DEL MENU OCULTO RESPONSIVE -->
        <div class="opciones">
            <p>Hola Efrain!</p>
            <img class="icon-res" src="../../../assets/img/menu.png" alt="">
        </div>

        <!-- OPCIÓN CLIENTE -->
        <div class="opciones">
            <img class="icon" src="../../../assets/img/users.png" alt="">
            <p>Clientes</p>
        </div>

        <!-- OPCIÓN AGENDA -->
        <div class="opciones">
            <img class="icon" src="../../../assets/img/calendar.png" alt="">
            <p>Agenda</p>
        </div>
      </div>
      
      <div class="contenido">
        <!-- Contenido de la página -->
      </div>
      
</div>