*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wraper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F2F5;
    height: 100%;
    flex-wrap: wrap;
}

.container{
    display: flex;
    justify-content: center;
    flex-flow: column;
    position: static;
    margin: 10px;
    align-items: center;
}

.disabled-button {
    pointer-events: none;
    opacity: 0.5;
}

.botones{
    width: 300px;
}

.botones button{
    background-color: #05A9CB;
    border: none;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    opacity: 1;
    transition: 0.3s;
}


@media screen and (max-width:550px){
    .wrapper{
        min-height: 914px;
    }

    .container{
        align-items: center;
        flex-direction: column;
    }

    .botones{
        width: 100%;
    }

}