*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F2F5;
    height: 100%;
    flex-wrap: wrap;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
}

.infoEmpleado{
    display: flex;
    justify-content: start;
    flex-flow: wrap;
    position: static;
    flex-direction: column;
}

.contenido{
    border: 1px solid;
    color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
}


@media screen and (max-width:550px){
    .wrapper{
        min-height: 914px;
    }

    .container{
        align-items: start;
        flex-direction: column;
    }

}